:host {
  display: block;
  min-height: 100vh;
}

/* Navbar'ın fixed olması sebebiyle içeriği aşağı kaydırma */
router-outlet + * {
  margin-top: 120px; /* Navbar + Category bar yüksekliği */
  padding: 20px 0;
}
